.mainPartyWindowContainer {
  width: 95%;
  height: 95%;
  display: flex;

  .partyDisplay {
    width: 75%;
    border: 1px solid white;

    .displayBanner {
      width: 100%;
      display: flex;
      justify-content: space-between;

      .partyName {
        display: flex;
      }

      .partyActions {
        display: flex;
      }
    }

    .party {
      display: flex;
    }

    .displayFooter {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }

  .partyAnalysis {
    border: 1px solid white;
    width: 25%;

    .typingContainer {
      .coverage {
        .matchUps {
          display: flex;
          flex-wrap: wrap;
        }
      }
    }
  }
}
